button {
  padding: 0.5rem 3rem;
  margin: 2rem 5rem;
  font-weight: bold;
}

#save {
  background-color: #4caf60;
}

#cancel {
  background-color: #cf4326;
}

input {
  width: 50%;
  height: 3rem;
  font-size: 1.5rem;
  margin: 5rem 5rem 2rem 5rem;
}

textarea {
  width: 50%;
  height: 20rem;
  font-size: 1rem;
}

.notification {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pinter-events: none;

  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-radius: 10px;
  margin-top: 3rem;
  font-weight: bold;
  font-size: 1.5rem;
  
}

.notification.show {
  opacity: 1;
}

.notification.saved {
  background-color: rgba(75, 235, 100, 0.3);
  border: 3px solid rgba(48, 191, 88, 0.6);
}

.notification.error {
  background-color: rgba(200, 25, 50, 0.3);
  border: 3px solid rgba(200, 0, 50, 0.6);
}
